.portfolio-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 768px;
  margin: 50px auto 0;
}

.portfolio-item {
  padding: 15px;
}

.portfolio-item-description {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  text-align: left;
}

.portfolio-item-description .list {
  list-style: circle;
  padding: 15px;
}

.portfolio-item-tags {
  text-align: left;
}

.tag {
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(10.0px);
  border-radius: 3px;
  color: white;
  font-size: 12px;
  padding: 5px 10px 5px 20px;
  position: relative;
  margin: 5px;
  display: inline-block;
}

.tag:before {
  content: "•";
  position: absolute;
  top: -7px;
  left: 5px;
  font-size: 30px;
}

.tag-outline {
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(10.0px);
  color: #222122;
}